{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="containerlog">
        <div class="leftlog">
            <img class="leftimglog" src="{% static '2121601.jpg' %}" alt="">
        </div>
        <div class="rightlog">
            <h1>Login</h1>
            <form method="post" action="{% url 'loginUser' %}">
                {% csrf_token %}
                <div class="namelog">
                    <input type="text" name="username" placeholder="username">
                </div>
                <div class="passlog">
                    <input type="password" name="password" id="" placeholder="password">
                </div>
                <!-- <input type="password" name="confirm_password" id="" placeholder="Confirm Password"> -->
                <div class="sublog">
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}